<div class="column col-12" style="text-align: center;">
	<h1>Articles</h1>
</div>

{{#if session.isLoggedIn}}
<div class="columns">
	<div class="column col-12">
		<a href="/articles/create">Create new Article</a>
	</div>
</div>
{{/if}}

{{#if hasDatabaseError}}
<p>Couldn't fetch the articles at the moment, try again later.</p>

{{else}}
{{#if Article.length}}
{{#each Article}}
<div class="columns">

	<div class="column col-4">
		<h4>{{title}}</h4>
		<p>{{article}}</p>
	</div>

	{{#if ../session.isLoggedIn}}
	<div style="text-align: right;">

		<a href="/articles/{{articleID}}/delete">
			<i class="icon icon-delete"></i>
		</a>

		<a href="/articles/{{articleID}}/update">
			<i class="icon icon-edit"></i>
		</a>

	</div>
	{{/if}}

</div>
{{/each}}

{{else}}
<p>There are no articles available!</p>

{{/if}}
{{/if}}