<div class="column col-12" style="text-align: center;">
    <h1>Delete faq</h1>
</div>


{{#if errors.length}}
<div class="columns">
    <div class="column col-3"></div>

    <div class="column col-6">
        <p>Could not delete the faq because:</p>
        <ul>
            {{#each errors}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="column col-3"></div>
</div>


{{else}}
{{#if hasDatabaseError}}

<div class="columns">
    <div class="column col-3"></div>

    <div class="column col-6" style="text-align: center;">
        <h3>Faq you are looking for does not exist</h3>
    </div>

    <div class="column col-3"></div>
</div>


{{else}}
<div class="columns" style="text-align: center;">
    <div class="column col-4"></div>

    <div class="column col-4">
        <p>Really delete tshe FAQ question "{{FAQ.question}}" ?</p>

        <form action="/faq/{{FAQ.faqID}}/delete" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn btn-primary" type="submit">Confirm delete</button>
        </form>
    </div>

    <div class="column col-4"></div>
</div>
{{/if}}
{{/if}}
