<div class="col-12" style="text-align: center;">
  <h1>FAQ</h1>
</div>


{{#if session.isLoggedIn}}
<div class="col-12 my-2 text-center">

  <button class="btn btn-primary">
    <a class="text-secondary" href="/faq/create" style="">Create new FAQ</a>
  </button>

</div>
{{/if}}


{{#if hasDatabaseError}}
<div class="columns">
  <div class="column col-3"></div>

  <div class="column col-6">
    <h3 style="text-align: center;">Could not fetch the FAQs at the moment, try again later.</h3>
  </div>

  <div class="column col-3"></div>
</div>


{{else}}
{{#if FAQ.length}}
<div class="columns">
  <div class="column col-3"></div>

  <div class="column col-6">
    {{#each FAQ}}

    <div class="divider text-center" data-content=""></div>

    <details class="accordion" close>
      <summary class="accordion-header">
        <i class="icon icon-arrow-right mr-1" style="font-size: 20px;"></i>

        {{question}}

        {{#if ../session.isLoggedIn}}
        <div style="text-align: right;">

          <a class="text-success mx-2 px-2" href="/faq/{{faqID}}/update">
            <i class="icon icon-edit"></i>
          </a>

          <a class="text-error my-2 px-2" href="/faq/{{faqID}}/delete">
            <i class="icon icon-delete"></i>
          </a>

        </div>
        {{/if}}

      </summary>
      <div class="accordion-body" style="padding-left: 35px;">
        {{answer}}
      </div>
    </details>

    {{/each}}
    <div class="divider text-center" data-content=""></div>
  </div>
  <div class="column col-3"></div>
</div>

{{else}}
<div class="column col-12 text-center">
  <h3>There are no FAQs available.</h3>
</div>

{{/if}}
{{/if}}