<div class="column col-12" style="text-align: center;">
  <h1>FAQ</h1>
</div>

{{#if session.isLoggedIn}} 
<div class="columns">
  <div class="column col-3"></div>

  <div class="column col-6">
    <a href="/faq/create" style="">Create new FAQ</a>
  </div>

  <div class="column col-3"></div>
</div>
{{/if}}




<div class="columns">
  <div class="column col-3"></div>
  <div class="column col-6">

    {{#if hasDatabaseError}}
    <p>Couldn't fetch the FAQ at the moment, try again later.</p>

    {{else}}
    {{#if FAQ.length}}
    {{#each FAQ}}

    <!-- Accordions are made for each question-->
    <div class="divider text-center" data-content=""></div>

    <details class="accordion" close>
      <summary class="accordion-header">

        <i class="icon icon-arrow-right mr-1" style="font-size: 20px;"></i>
        {{question}}

        {{#if ../session.isLoggedIn}}
        <div style="text-align: right;">

          <a href="/faq/{{faqID}}/delete">
            <i class="icon icon-delete"></i>
          </a>

          <a href="/faq/{{faqID}}/update">
            <i class="icon icon-edit"></i>
          </a>

        </div>
        {{/if}}

      </summary>

      <div class="accordion-body" style="padding-left: 35px;">
        {{answer}}
      </div>
    </details>

    {{/each}}
    <div class="divider text-center" data-content=""></div>

    {{else}}
    <p>There are no FAQ available!</p>

    {{/if}}
    {{/if}}

  </div>
  <div class="column col-3"></div>
</div>