<p>this is the reading page</p>


{{#if hasDatabaseError}}
	<p>Couldn't fetch the articles at the moment, try again later.</p>
{{else}}
	
	{{#if Post.length}}
		{{#each Post}}
			<article>
				<h2>{{title}}</h2>
				   <img src="{{image}}" alt="">
                <p>{{article}}</p>
			</article>
		{{/each}}


	{{else}}
		<p>There are no articles available!</p>
	{{/if}}
	
{{/if}}