<div class="column col-12 text-center">
	<h1>Recipes</h1>
</div>


{{#if session.isLoggedIn}}
<div class="columns">
	<div class="column col-1"></div>

	<div class="column col-10">
		<a href="/recipes/create">Create new recipe</a>

		<div class="column col-1"></div>
	</div>
</div>
{{/if}}


<div class="columns">

	{{#if hasDatabaseError}}
	<p>Could not fetch the recipes at the moment, try again later.</p>

	{{else}}
	{{#if Recipe.length}}
	{{#each Recipe}}
	<div class="column col-1"></div>

	<div class="column col-4">

		<a href="/recipes/{{recipeID}}">
			<h4 class="text-center">{{name}}</h4>
		</a>

		<img src={{image}} alt="bild" width="100%" height="">

		{{#if ../session.isLoggedIn}}
		<div class="text-center">

			<a href="/recipes/{{recipeID}}/delete">
				<i class="icon icon-delete"></i>
			</a>

			<a href="/recipes/{{recipeID}}/update">
				<i class="icon icon-edit"></i>
			</a>

		</div>
		{{/if}}
	</div>

	<div class="column col-1"></div>
	{{/each}}

	{{else}}
	<div class="column col-2"></div>

	<div class="column col-8">
		<h3 class="text-center">There are no recipes available.</h3>
	</div>

	<div class="column col-2"></div>

	{{/if}}
	{{/if}}

</div>