<div class="column col-12" style="text-align: center;">
<h1>Recipes</h1>
</div>

{{#if hasDatabaseError}}
	<p>Couldn't fetch the recipes at the moment, try again later.</p>
{{else}}
	
	{{#if Recipe.length}}
		{{#each Recipe}}

        <div class="columns">


			<div class="column col-4">
				<h4>{{recipeName}}</h4>
				<img src={{image}} alt="bild" width="300" height="300">
				<p>{{tagName}}</p>
				<p>{{desc}}</p>
			</div>


            </div>
</div>

		{{/each}}
	{{else}}
		<p>There are no recipes available!</p>
	{{/if}}
	
{{/if}}